# Xcode
## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace
*.xcodeproj

# Build generated
build/
DerivedData/
*.built
*.deemed
*.xcbuilddata/
**/XCBuildData/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
injected_container.swift

# Various macOS files
.DS_Store
.AppleDouble
.LSOverride
._*

# Environment variables
.env
../.env