# Ignore environment files
.env

# Ignore Python virtual environment
venv/
env/

# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore Swift build artifacts
*.swiftmodule
*.swiftdoc
*.swiftinterface
*.swiftsourceinfo

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Explicitly include all Python files and directories
!**/*.py
!**/

# Add any other specific files or directories you want to ignore*.xcuserstate
