# Ignore environment files
.env

# Ignore Python virtual environment
pyenv/
venv/
*.pyc
__pycache__/

# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore Swift build artifacts
*.swiftmodule
*.swiftdoc
*.swiftinterface
*.swiftsourceinfo

# Add any other Swift-related files you want to ignore