python-dotenv
python-multipart
uvicorn[standard]
websockets
pydantic
fastapi
uvicorn
wsproto
numpy
gunicorn

# aioredis @removed for now
beautifulsoup4 # retrieving existing oai shared chats
ollama
openai
anthropic
fal-client # ai inference provider over image models
tiktoken # counts tokens
# gunicorn # in prod
# firebase-admin @removed for now
pyannote.audio
torch
torchaudio
ngrok

# hydra-core --upgrade
# nemo_toolkit
# --upgrade huggingface_hub
# moviepy
google-generativeai
aiofiles
python-magic
sqlalchemy
databases
asyncpg
aiosqlite
pydantic
