python-dotenv
python-multipart
uvicorn[standard]
websockets 
fastapi 
uvicorn 
wsproto
numpy 

# aioredis @removed for now

openai 
anthropic 
fal-client # ai inference provider over image models
tiktoken # counts tokens

# firebase-admin @removed for now