<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>MeasurementID</key>
    <string>G-KMV4Y9H0SX</string>
    <key>StreamID</key>
    <string>10005514776</string>
    <key>StreamURL</key>
    <string>https://www.caringmind.xyz</string>
</dict>
</plist>
