/* styles/Tags.module.css */
.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tagBubble {
  background-color: #eee;
  border-radius: 20px;
  padding: 5px 15px;
  text-align: center;
  font-size: 0.9em;
  color: #333;
}
